@import "../../../assets/scss/variables.scss";

.container-mainpage {
  margin-top: 30px;
  background: $low-grey-color !important;
  height: 65vh;
}
.tw-container {
  margin-top: 200px;
  // background: $grey-color;
}
.tw {
  font-size: 3.5rem;
  margin-bottom: 60px;
}

.tw2 {
  font-size: 2.7rem;
}
