@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/utils.scss";

svg {
  fill: $dark-color;
}

.footer-container {
  height: 100px;
  position: fixed;
  bottom: 0;
}

.icon {
  margin-right: 60px;
  margin-bottom: 30px;
  opacity: 0.85;
}

.icon:hover {
  opacity: 1;
  color: $pink-color;
}

.copyright-container button {
  margin-right: 22rem;
  margin-top: 15px;
  max-width: 200px;
  cursor: default;
}

.copyright-container h5 {
  font-size: 1rem;
}

//ANIM BUTTON
button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $dark-color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
button:hover:after {
  width: 100%;
  left: 0;
}
