<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">
        <div class="right-toggle-menu">
          <button class="toggle-button" mat-button [matMenuTriggerFor]="nav">
            Navigate
          </button>

          <mat-menu #nav="matMenu">
            <button mat-menu-item>Home</button>
            <button mat-menu-item [matMenuTriggerFor]="about">About</button>
            <button mat-menu-item [matMenuTriggerFor]="projects">
              Projects
            </button>
            <button mat-menu-item>Music</button>
            <button mat-menu-item>Contact</button>
          </mat-menu>

          <mat-menu #about="matMenu">
            <button mat-menu-item>Career</button>
            <button mat-menu-item>Hobbies</button>
          </mat-menu>

          <mat-menu #projects="matMenu">
            <button mat-menu-item>Web Development</button>
            <button mat-menu-item>Audio Development</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <div class="left-navbar">
          <div class="d-flex">
            <button class="pl-4 pr-4" mat-menu-item>Home</button>
            <button class="pl-4 pr-4" mat-menu-item>About</button>
            <button class="pl-4 pr-4" mat-menu-item>Projects</button>
            <button class="pl-4 pr-4" mat-menu-item>Music</button>
            <button class="pl-4 pr-4" mat-menu-item>Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
